.env
.pc
*~
*.orig
*.o
*.swp
*.pyc
*.kate-swp
tests/faultinjection/pfilter
tests/faultinjection/libipq.c
tests/faultinjection/libipq/libipq.h
unittests/unittest.log
.coverage
coverage.xml
nosetests.xml
htmlcov
.scannerwork
sonar-project.properties
dcopy/dcopy
dcopy/tp
.idea
