[Unit]
Description=Multipath scanner
Wants=xapi-init-complete.target
After=xapi-init-complete.target

[Service]
StandardInput=socket
StandardOutput=null
StandardError=journal
ExecStart=/usr/bin/sh -c '. /etc/xensource-inventory; while dd of=/dev/null bs=4096 count=1 status=none conv=noerror; do /opt/xensource/sm/mpathcount.py; done'
ExecStartPost=/opt/xensource/libexec/kickpipe mpathcount
Restart=always
