[Unit]
Description=Multipath scanner
Wants=xapi-init-complete.target
After=xapi-init-complete.target

[Service]
StandardInput=socket
StandardOutput=null
StandardError=journal
ExecStartPre=/usr/bin/bash -c 'if [ ! -f "/dev/shm/mpath_status" ]; then /opt/xensource/sm/mpathcount.py; fi'
ExecStart=/usr/bin/sh -c '. /etc/xensource-inventory; while dd of=/dev/null bs=4096 count=1 status=none conv=noerror; do /usr/libexec/sm/mpathcount.py; done'
Restart=always
