[Unit]
Description=Multipath scanner kick socket

[Socket]
ListenFIFO=/var/run/mpathcount.sock
PipeSize=4096
ExecStartPost=/usr/libexec/sm/kickpipe mpathcount

[Install]
WantedBy=multi-user.target
