[Unit]
Description=Ensure symlinks for multipathed rootdev

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/sm/multipath-root-setup

[Install]
WantedBy=sysinit.target
