[Unit]
Description=Ensure symlinks for multipathed rootdev
Wants=basic.target multipathd.service
After=basic.target
Before=multipathd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/xensource/sm/multipath-root-setup

[Install]
WantedBy=multi-user.target
