[Unit]
Description=Healthy Check service for Storage Repositories
Wants=xapi-init-complete.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/sm/sr_health_check

