[Unit]
Description=XCP-ng Storage Manager (SM)
Before=xapi.service
Conflicts=shutdown.target
RefuseManualStop=yes
After=iscsi-shutdown.service multipathd.service
Wants=iscsi-shutdown.service

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=-/usr/sbin/multipath -W
ExecStop=-/bin/true

[Install]
WantedBy=multi-user.target
