SUBSYSTEM!="block", GOTO="end_mpath"
KERNEL=="nbd*", GOTO="end_mpath"
KERNEL=="td[a-z]*", GOTO="end_mpath"

# like in 62-multipath.rules
ENV{nompath}=="?*", GOTO="end_mpath"

IMPORT{db}="DM_MULTIPATH_DEVICE_PATH"
ACTION=="add",  ENV{DM_MULTIPATH_DEVICE_PATH}=="1", GOTO="count_mpath"
ACTION=="remove", ENV{DM_MULTIPATH_DEVICE_PATH}=="1",  GOTO="count_mpath"
IMPORT{db}="DM_ACTION"
ACTION=="change", ENV{DM_ACTION}=="PATH_REINSTATED", GOTO="count_mpath"
ACTION=="change", ENV{DM_ACTION}=="PATH_FAILED", GOTO="count_mpath"

IMPORT{db}="CH_MULTIPATH"
# MP device removed, count
ACTION=="remove", ENV{CH_MULTIPATH}=="1", GOTO="count_mpath"

# Already counted so just ensure the symlinks are present
ENV{CH_MULTIPATH}=="1", GOTO="symlinks"

# Check added or changed for being multipath
ACTION=="add|change", PROGRAM=="/bin/bash -c '/sbin/dmsetup table -j %M -m %m | /bin/grep multipath'", ENV{CH_MULTIPATH}="1"
ENV{CH_MULTIPATH}=="1", GOTO="count_mpath"
GOTO="end_mpath"

LABEL="count_mpath"
ACTION=="*", RUN+="/opt/xensource/libexec/kickpipe mpathcount"

LABEL="symlinks"
ACTION=="add|change", PROGRAM="/sbin/dmsetup info -c -o name --noheadings -j %M -m %m", SYMLINK+="disk/by-scsid/%c/mapper"

LABEL="end_mpath"
